<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard - Hall Management</title>
</head>
<body>

    

        <div class="dashboard-container">
    
            <!-- Options for Bookings and View Bookings -->
            <div class="options">
                <a href="/bookings">
                    <div class="option-card">
                        <div class="option-title">Bookings</div>
                    </div>
                </a>
                <a href="/viewuserBookings">
                    <div class="option-card">
                        <div class="option-title">View Bookings</div>
                    </div>
                </a>
                <a href="/book-now">
                    <div class="option-card">
                        <div class="option-title">Book Now</div>
                    </div>
                </a>
            </div>

</body>
</html>
